*{
  list-style-type: none;
}

.font-syne{
  font-family: 'Syne', 'sans-serif';
}
.font-rubik{
  font-family: 'Rubik', 'sans-serif';
}

    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    